<div class="first_wrapper">
  <h1 class='has-custom-shadow'>Start#search</h1>
  <% if $uid %>
    <div class="search">
      <%= form_for :search do |f| %>
        <p>
          <div><%= f.text_field :book,:class => 'searchbar' %></div>
            <div class="button_wrapper"><%= f.submit "Search",:class => 'btn btn-default btn-raised'%></div>
        </p>
      <% end %>
    </div>
  <% else %>
    <% if !$uid %>
      <div class="login-span">
        <%= render("login") %>
      </div>
    <% end %>
  <% end %>
</div>