<h1>Start#search</h1>
<% if $uid %>
	<%= form_for :search do |f| %>
	  <p>
	    <%= f.text_field :book %>
        <%= f.submit "Search" %>
	  </p>
	<% end %>
<% else %>
	<div class="login-span">
		<%= render("login") %>
	</div>
<% end %>