<h1>my test</h1>

<% @data.each_pair do |key, value| %>
  <p>Key: <%= key %> Value: <%= value %></p>

<% end %>
<%= link_to 'Buy','http://www.amazon.com/s/ref=nb_sb_ss_c_0_4?url=search-alias%3Dstripbooks&field-keywords=Do+Androids+Dream+of+Electric+Sheep'%>