<h1>Information from Google and Search list from Amazon</h1>

<% @data.each_pair do |key, value| %>
  <p>Key: <%= key %> Value: <%= value %></p>


<% end %>
<%= image_tag @data['image_link'] %>


<%= link_to 'Buy on Amazon','http://www.amazon.com/s/ref=nb_sb_ss_c_0_4?url=search-alias%3Dstripbooks&field-keywords=Do+Androids+Dream+of+Electric+Sheep'%>