// Place all the styles related to the start controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$default-text-shadow-color: rgba(red, 0.6);
$default-text-shadow-blur: 3px;
$default-text-shadow-v-offset: 1px;
 
@import "compass/css3";
@import "compass/layout/sticky-footer";

//This is for all
body {

  background-image:url('background.jpg');
  @include background-size(cover);

}



.ot {
  width: 1000px;
  height: 100%;
  //border: 1px solid #FF6600;
  text-align: center;
  margin: 0 auto;

}
.ot:before {
  content: '';
  display: inline-block;
  vertical-align: middle ;
  height: 100%;
}
.first_wrapper{
	display: inline-block;
  vertical-align: middle;
  //border: 1px solid #888800;
  width: 500px;
  height: 500px;
  margin-top: 240px;
}
// This is for search page
.has-custom-shadow {
  @include text-shadow(rgba(blue, 0.2) 1px 1px 0, rgba(blue, 0.2) 2px 2px 0, rgba(blue, 0.2) 3px 3px 0);
  color:#FFFFFF
}

.button_wrapper{
  padding: 10px;
}

.searchbar{
  width:500px;
  height:30px;
  font-size:1.5em
}
// This is for show book
.second_wrapper{
  display: inline-block;
  vertical-align: middle;
  width: 500px;
  height: 745px;
  //border: 1px solid #FF0000;
}
$book_cover_h:550px;
$common_width:390px;
$cover_top:10px;

.book_cover{
  position:relative;
  width: $common_width;
  height: $book_cover_h;
  //border: 1px solid #000000;
  top:15%;
  left:-300px; 

  .imagestyle{
    width: 100%;
    height: 100%;
    @include box-shadow(white 2px 2px 10px);
  }
    
}

.book_info{
  position:relative;
  //width: $common_width - 100px;
  width:700px;
  height: $book_cover_h - 50px;
  //border: 1px solid #FF66FF;
  top:-400px;
  left: 46%;
  display:none;
  background: #FFFFFF;
  @include border-radius(30px);
  .title{
    position:relative;
    top:40px;
    font-weight:bolder;
    // right:10px;
    text-align:center;
    line-height: 40px;
    font-size:2em;
  }
  .author{
    position:relative;
    font-size:1.3em;
    margin-top: 70px;
    font-style: italic;
  }
  .content{
    position:relative;
    width: 500px;
    height: 270px;
    font-size: 1.5em;
    margin-top: 30px;
    line-height: 30px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    display:none;
  }
  .otherlink{
    position:absolute;
    width: 300px;
    height: 50px;
    //background:#000000;
    margin-bottom:10px;
    bottom:0px;
    .link{
      background:#FFFFFF;
    }
    
  }
}
#book_footer{
  background: #000000;
  width: 100%;
  height:30px;
  color:#FFFFFF;
  @include sticky-footer(54px);
}
.outside{
  &:hover { cursor: pointer; }
  width: 50px;
  height: 50px;
}
#facebookinfo{
  position:absolute;
  display: none;
  top: 90px;
  margin-left: auto;
  margin-right: auto;
  width: 420px;
  height: 500px;
  //border: 1px solid #FF0000;
  background: #FFFFFF;
  z-index: 10;
  @include border-radius(10px);
}
#FBtitle{
  text-align: left;
  padding-left:10px;
  width: 420px;
  height: 50px;
  vertical-align: middle;
  line-height: 50px;
  font-weight:bolder;
  font-size: 1em;
  background: #F5F5F5;
  @include border-radius(4px, 4px);

}
#friendlist{
  //display: none;

  top: 50px;
  right:0px;
  width: 420px;
  height: 400px;
  //border: 1px solid #FF0000;
  background: #FFFFFF;
  @include border-radius(10px);
  overflow-y: scroll;
  
  .friendimage{
    display: inline-block;
    position:relative;
    //left:-180px;
    width: 90px;
    height: 90px;
    @include border-radius(10px);
    //border: 1px solid #00FF00;
    background:#000000;
    .face{
      width: 80px;
      height: 80px;
    }
  }
  .friendname{
    display: inline-block;
    position:relative;
    width: 310px;
    height: 50px;
    top:10px;
    text-align: left;
    font-size:1.3em;
    //border: 1px solid #66DD00;
  }
}
.tablestyle{
  margin-left:0px;
}
.FBbody{
  display: inline-block;
}
#FBclose{
  position:absolute;
  bottom:10px;
  right:30px;
}
table{
  border: 0px solid #000000;
  align: left;
}
tr{  
   padding:3px 5px 3px 5px;//內文不會貼格子
} 
td{  
   padding:3px 5px 3px 5px;//內文不會貼格子
   border-bottom: 1px solid #DDDDDD;
} 
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display:none;
  height: 100%;
  width: 100%;
  //z-index: 9;
  background-color: rgba(0,0,0,0.5);
}