// Place all the styles related to the start controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$default-text-shadow-color: rgba(red, 0.6);
$default-text-shadow-blur: 3px;
$default-text-shadow-v-offset: 1px;
 
@import "compass/css3";
@import "compass/layout/sticky-footer";

//This is for all
body {
  background-image:url('background.jpg');
  background-attachment:fixed;
  overflow: hidden;
  @include background-size(cover);
  overflow: auto;
}

.first_wrapper{
  margin-top: 15%;
  text-align: center;
}
// This is for search page
.has-custom-shadow {
  @include text-shadow(rgba(blue, 0.2) 1px 1px 0, rgba(blue, 0.2) 2px 2px 0, rgba(blue, 0.2) 3px 3px 0);
  color:#FFFFFF
}

.button_wrapper{
  padding: 10px;
}

.searchbar{
  width:50%;
  height:30px;
  font-size:1.5em
}

.content{  
  margin-top:  2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.book_cover{
  padding: 10px;
}

.abstract{
  font-color: #2F0E07;
  background-color: #F9F1C0; 
  padding-right: 10px;
  padding-left: 10px;
  overflow: auto;   
}

.text{
  padding: 10px;
}

.title_and_author{
  padding-left: 15px;
  padding-top: 15px;
  font-weight:bold;
  text-align:left;
  line-height: 40px;
  font-size:2em;
}

.tablestyle{
  width: 100%;
  text-align: center;
  background-color: #F9F1C0;
  overflow: auto;
}

.friendimage{
  padding-top: 5%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 5%;
  width: 100px;
  height: 100px;
}

td{
  vertical-align: top;
  background-color:  #F9F1C0;
}

table, th, td {
  border-collapse: separate;
  border-spacing: 1em 0.5em;
}

.otherlink{
  text-align: right;
  height: 50px;
  margin-top:1%;
}

.back{
  padding-left: 15px;
  font-weight:bolder;
  font-size: 1em;
  width: 30%;
  margin-right: 70%;
}

.outside{
  width: 50px;
  height: 50px;
}

.imagestyle{
  width: 100%;
  height: 100%;
}
